* {
  box-sizing: border-box !important;
  margin: 0px 0px !important;
}

body {
  background-color: #ffffff;
  overflow-x: hidden !important;
}

main {
  position: relative;
}

.portada {
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-evenly !important;
  margin-left: 550px !important;
}

.menu ul li {
  display: inline-block;
  justify-content: end !important;
  margin: 0 20px !important;
  margin-top: 35px !important;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px !important;
  line-height: 19px !important;
  z-index: 20;
}

.menu i {
  font-size: 8px;
  align-items: center;
}

.lupa {
  font-size: 20px !important;
  position: absolute;
  right: 75px;
  top: 25px;
}

h1 {
  position: absolute;
  width: 936px;
  height: 212px;
  left: 176px;
  top: 262px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6.25vw;
  line-height: 100px;
  letter-spacing: 0.02em;
  color: #4e4c4b;
  z-index: 5;
}

h2 {
  position: absolute;
  width: 236px;
  height: 167px;
  left: 175px;
  top: 505px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 26px;
  color: #4e4c4b;
}

.rectangulo3 {
  display: flex;
  justify-content: center;
  align-items: center !important;
  position: absolute;
  width: 301px;
  height: 57px;
  left: 88px;
  top: 661px;
  background: #527c73;
}

.rectangulo3 p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.rectangulo4 {
  position: absolute;
  width: 748px;
  height: 803px;
  left: 602px;
  top: 0px;
  background: #e0b593;
  z-index: -5;
}

.rectangulo14 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 854px;
  height: 66px;
  left: 411px;
  top: 924px;
  border: 5px solid #e0b593;
  box-sizing: border-box;
}

.rectangulo14 p {
  display: inline-block !important;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #4e4c4b;
}

.captura3 {
  position: absolute;
  width: 855px;
  height: 782px;
  left: 410px;
  top: 121px;
  background-image: url("../img/captura-3.png");
}

.linea13 {
  position: absolute;
  width: 280px;
  height: 0px;
  left: 131px;
  top: 250px;
  border: 3px solid #e0b593;
  transform: rotate(180deg);
}

.linea14 {
  position: absolute;
  width: 416px;
  height: 0px;
  left: -75px;
  top: 460px;
  border: 3px solid #e0b593;
  transform: rotate(90deg);
}

.rectangulo59 {
  position: absolute;
  width: 118px;
  height: 39px;
  left: 96px;
  top: 30px;
}

.linea31 {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 1024px;
  border: 1px solid #000000;
}

/*---- Sección Propuesta----*/

.propuesta {
  position: relative;
}

.propuesta h1 {
  position: absolute;
  width: 100%;
  height: 77px;
  left: 0px;
  top: 1118px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  color: #4e4c4b;
}

.propuesta img {
  margin: 0 5px !important;
}

.linea40 {
  position: absolute;
  width: 850px;
  height: 0px;
  left: 550px;
  top: 1154px;
  border: 5px solid #e0b593;
  transform: rotate(180deg);
}

strong {
  width: 343px;
  height: 97px;
  background: #e0b593;
  padding: 20px 0;
}

.foto1 {
  position: absolute;
  width: 192px;
  height: 330px;
  left: 90px;
  top: 1287px;
}
.foto2 {
  position: absolute;
  width: 192px;
  height: 330px;
  left: 303px;
  top: 1287px;
}

.rectangulo41 {
  position: absolute;
  width: 748px;
  height: 330px;
  left: 517px;
  top: 1287px;
  background: #ffffff;
  border: 5px solid #d2cfc7;
  box-sizing: border-box;
}

.rectangulo41 p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px !important;
  line-height: 26px;
  text-align: center;
  color: #4e4c4b;
  margin: 12px 0 !important;
}

.linea25 {
  position: absolute;
  width: 1170px;
  height: 0px;
  left: 150px;
  top: 1660px;
  border: 5px solid #e0b593;
  transform: rotate(180deg);
}

.rectangulo62 {
  position: absolute;
  width: 375px;
  height: 154px;
  left: 90px;
  top: 1782px;
  background: #ffffff;
  border: 5px solid #d2cfc7;
  box-sizing: border-box;
}

.rectangulo62 p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #4e4c4b;
  margin: 10px 10px !important;
}

.rectangulo63 {
  position: absolute;
  width: 375px;
  height: 154px;
  left: 517px;
  top: 1782px;
  background: #ffffff;
  border: 5px solid #d2cfc7;
  box-sizing: border-box;
}

.rectangulo63 p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #4e4c4b;
  margin: 10px 10px !important;
}

.rectangulo64 {
  position: absolute;
  width: 375px;
  height: 154px;
  left: 946px;
  top: 1782px;
  background: #ffffff;
  border: 5px solid #d2cfc7;
  box-sizing: border-box;
}

.rectangulo64 p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #4e4c4b;
  margin: 10px 10px !important;
}

.linea3 {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 2047px;
  border: 1px solid #000000 !important;
}

/* footer p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  font-size: 18px;
  line-height: 21px;
  margin: 25px 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  margin: 9.5px 0;
  z-index: 2;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: start;
  font-size: 22px;
  line-height: 26px;
  color: #4e4c4b;
}
footer {
  justify-content: space-evenly;
  text-align: center;
  width: 100vw;
  background: #d2cfc7;
  padding: 30px 0;
}

footer div {
  margin: 5.5px 0 !important;
}

footer p {
  margin: 15px 0 !important;
  line-height: 25px !important;
}

.logo {
  margin: auto 0 !important;
}

.redes {
  margin: auto 0 !important;
}

.redes i {
  margin: 0 5px !important;
}

.fotos1 {
  margin-top: 50px;
  margin-left: 50px;
}



.quienesSomos {
  padding: 50px !important;
  margin-top: 50px;
  width: 748px;
  height: 340px;
  background: #ffffff;
  border: 5px solid #d2cfc7;
}

.quienesSomos p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px !important;
  text-align: center;
  color: #4e4c4b;
  text-align: center;
}



.linea35 {
  position: absolute;
  margin-top: 275px !important;
  width: 85px;
  height: 0px;
  right: 0px;
  top: 0px;
  border: 5px solid #e0b593;
  transform: rotate(180deg);
}


.propuestaDeValor {
  position: relative;
  margin: 50px 0 !important;
}

.testimonios {
  position: relative;
  margin: 50px 0 !important;
}

.linea59 {
  position: absolute;
  width: 950px;
  height: 0px;
  right: 0px;
  top: 25px;
  border: 5px solid #e0b593;
  transform: rotate(-180deg);
}

.seccionTestimonios {
  position: relative !important;
  margin: 150px 0 !important;
}

.box1 {
  position: absolute;
  width: 405px;
  height: 154px;
  left: 90px;
  top: 0px;
  background: #ffffff;
  border: 5px solid #d2cfc7;
  box-sizing: border-box;
}

.box2 {
  position: absolute;
  width: 404px;
  height: 154px;
  left: 946px;
  top: 0px;
  background: #ffffff;
  border: 5px solid #d2cfc7;
  box-sizing: border-box;
}

.box3 {
  position: absolute;
  width: 405px;
  height: 154px;
  left: 518px;
  top: 0px;
  background: #ffffff;
  border: 5px solid #d2cfc7;
  box-sizing: border-box;
} */
